.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}
.semicolon {
    -fx-font-weight: bold;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.function {
    -fx-fill: darkgreen;
    -fx-font-weight: bold;
}

.class {
    -fx-fill: blue;
}
.string {
   
    -fx-fill: teal;
}

.number {
    -fx-fill: cadetblue;
}

.literal {
    -fx-fill: orange;
}

.class {
    -fx-fill: blue;
}

.comment {
	-fx-fill: orange;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}